<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <title>Liste des Huiles Essentielles</title>
    <link href="https://code.jquery.com/jquery-3.3.1.js"/>

    {% load static %}
    <link href="{% static "huiles/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}" rel="stylesheet"></link>
    <link href="{% static "huiles/datatable/datatable.min.css" %}" rel="stylesheet"></link>
    <link href="{% static "huiles/jquery.multiselect/jquery.multiselect.css" %}" rel="stylesheet"></link>
    <link href="{% static "huiles/jquery.multiselect/jquery.multiselect.filter.css" %}" rel="stylesheet"></link>

    <script src="{% static "huiles/datatable/datatable.min.js" %}"></script>
    <script src="{% static "huiles/jquery-ui-1.12.1.custom/jquery-ui.min.js" %}"></script>
    <script src="{% static "huiles/jquery.multiselect/jquery.multiselect.js" %}"></script>
    <script src="{% static "huiles/jquery.multiselect/jquery.multiselect.filter.js" %}"></script>
    <script src="{% static "huiles/jquery.multiselect/jquery.multiselect.fr.js" %}"></script>
    <script src="{% static "huiles/jquery.multiselect/jquery.multiselect.filter.fr.js" %}"></script>

    <script src="{% static "huiles/hemanager.js" %}"></script>

</head>
<body>

{% load utils %}

<div id="tabs">
    <ul>
        <li><a href="#he-list">Liste complète</a></li>
        <li><a href="#he-search">Recherche</a></li>
    </ul>
    <div id="he-list">
        {% if he_list %}
        {% for he in he_list %}
        <h3><a href="/huiles/{{ he.nom }}/">{{ he.nom }}</a></h3>
        <div>
            <p>
                Nom : <a href="/huiles/{{ he.nom }}/">{{ he.nom }}</a> (alt. {{ he.nom_alternatif }})
            </p>
            <p>
                Prix : {{ he.prix }} &euro;
            </p>
            <p>
                Familles
            <table id="familles" class="famille-display" style="width:100%">
                <thead>
                <tr>
                    <th>Classe</th>
                    <th>Nom</th>
                    <th>Fraction</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Primaire</td>
                    <td>{{ he.famille_1.nom }}</td>
                    <td>{{ he.famille_1_pct }}</td>
                </tr>
                {% if he_list %}
                <tr>
                    <td>Secondaire</td>
                    <td>{{ he.famille_2.nom }}</td>
                    <td>{{ he.famille_2_pct }}</td>
                </tr>
                <tr>
                    <td>Troisième</td>
                    <td>{{ he.famille_3.nom }}</td>
                    <td>{{ he.famille_3_pct }}</td>
                </tr>
                <tr>
                    <td>Quatrième</td>
                    <td>{{ he.famille_4.nom }}</td>
                    <td>{{ he.famille_4_pct }}</td>
                </tr>
                <tr>
                    <td>Cinquième</td>
                    <td>{{ he.famille_5.nom }}</td>
                    <td>{{ he.famille_5_pct }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            </p>
            <p>
                Propriétés
                <table id="proprietes" class="proprietes-display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Propriété</th>
                            <th>Efficacité</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for prop in eff_props|lookup:he.nom %}
                        <tr>
                            <td>{{ prop.nom_prop.nom }}</td>
                            <td>{{ prop.efficacite }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
        {% endfor %}
        {% else %}
        <p>Pas d'huiles essentielles disponibles.</p>
        {% endif %}
    </div>

    <div id="he-search">
        <form action="#" id="he-search-form">
            <fieldset>
                <legend>Filtres</legend>
                <label for="contre_indic">Contre Indication</label>
                <select name="contre_indic" id="contre_indic" multiple="multiple">
                    {% if ci_list %}
                    <option value="none">---</option>
                    {% for ci in ci_list %}
                    {% if contre_indic_filter == ci.nom %}
                    <option value="{{ ci.nom }}" selected="selected">{{ ci.nom }}</option>
                    {% else %}
                    <option value="{{ ci.nom }}">{{ ci.nom }}</option>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </select>
                <label for="property">Propriété</label>
                <select name="property" id="property">
                    {% if prop_list %}
                    <option value="none">---</option>
                    {% for prop in prop_list %}
                    {% if prop_filter == prop.nom %}
                    <option value="{{ prop.nom }}" selected="selected">{{ prop.nom }}</option>
                    {% else %}
                    <option value="{{ prop.nom }}">{{ prop.nom }}</option>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </select>
                <label for="family">Famille</label>
                <select name="family" id="family">
                    {% if family_list %}
                    <option value="none">---</option>
                    {% for family in family_list %}
                    {% if family_filter == family.nom %}
                    <option value="{{ family.nom }}" selected="selected">{{ family.nom }}</option>
                    {% else %}
                    <option value="{{ family.nom }}">{{ family.nom }}</option>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </select>
                <input type="submit" value="Chercher"/>
            </fieldset>
        </form>
        {% if filtered_list %}
        <fieldset>
            <legend>Résultats</legend>
            Total : {{ filtered_list|length }}
            <ul>
                {% for filtered in filtered_list %}
                <li>{{ filtered}}</li>
                {% endfor %}
            </ul>
        </fieldset>
        {% endif %}
    </div>

</div>


</body>
</html>

