<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Huiles Essentielles</title>
    {% load static %}
    <link href="{% static "huiles/jquery-ui-1.12.1.custom/jquery-ui.min.css" %}" rel="stylesheet"/>
    <script src="{% static "huiles/jquery-ui-1.12.1.custom/external/jquery/jquery.js" %}"></script>
    <script src="{% static "huiles/jquery-ui-1.12.1.custom/jquery-ui.min.js" %}"></script>
    <script src="{% static "huiles/hemanager.js" %}"></script>
</head>
<body>

<div id="tabs">
  <ul>
    <li><a href="#he-list">Liste complète</a></li>
    <li><a href="#he-search">Recherche</a></li>
  </ul>
<div id="he-list">
{% if he_list %}
    {% for he in he_list %}
        <h3><a href="/huiles/{{ he.nom }}/">{{ he.nom }}</a></h3>
        <div>
            <p>
                {{ he.nom }} / {{ he.nom_alternatif }}
            </p>
        </div>
    {% endfor %}
{% else %}
    <p>Pas d'huiles essentielles disponibles.</p>
{% endif %}
</div>

<div id="he-search">
    <form action="#">
        <fieldset>
            <legend>Filtres</legend>
            <label for="contre_indic">Contre Indication</label>
            <select name="contre_indic" id="contre_indic">
            {% if ci_list %}
                 <option value="none">---</option>
                 {% for ci in ci_list %}
                 <option value="{{ ci.nom }}">{{ ci.nom }}</option>
                 {% endfor %}
            {% endif %}
            </select>
            <input type="submit" value="Chercher"></input>
        </fieldset>
    </form>
    {% if ci_he_list %}
    <fieldset>
    <legend>Resultats</legend>
    Total : {{ ci_he_list|length }}
    <ul>
        {% for ci_he in ci_he_list %}
        <li>{{ ci_he.nom_he }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </fieldset>
</div>

</div>



</body>
</html>

